.geocoder-content {
  float: left;
  width: 90%;
}

.geocoder-switch-control {
  float: right;
  width: 10%;
}

.geocoder-switch-control span {
  margin-top: 33px;
  margin-left: 15px;
}

.Select--single>.Select-control .Select-value {
  width: 91%;
}